.about {
  margin-bottom: 120px;
}

.about__text-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;

  @include vp-1439 {
    gap: 29px;
  }

  @include vp-767 {
    gap: 30px;
    margin-bottom: 40px;
  }
}

.about__title {
  @include h2-desktop;

  padding: 3px 133px 19px 0;
  color: $color-cerulian-blue;

  @include vp-1439 {
    @include h2-tablet;

    padding: 0 28px 13px 0;
  }

  @include vp-767 {
    @include h2-mobile;

    padding: 2px 50px 6px 1px;
  }
}

.about__title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 477px;

  @include vp-1439 {
    width: 100%;
    margin-right: 180px;
  }

  @include vp-767 {
    margin: 0;
    gap: 7px;
  }

  p {
    @include text-big-desktop;

    margin: 0;

    @include vp-1439 {
      @include text-big-tablet;
    }

    @include vp-767 {
      @include text-big-mobile;
    }
  }

  p br {
    @include vp-1439 {
      display: none;
    }
  }
}

.about__text-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 498px;
  margin-right: 106px;

  @include vp-1439 {
    width: 100%;
    margin-right: 180px;
    gap: 23px;
  }

  @include vp-767 {
    margin: 0;
    gap: 11px;
  }

  h3 {
    @include h3-desktop;

    color: $color-cerulian-blue;

    @include vp-1439 {
      @include h3-tablet;
    }

    @include vp-767 {
      @include h3-mobile;
    }
  }

  p {
    margin: 0;

    @include text-regular-desktop;

    @include vp-1439 {
      @include text-regular-tablet;

      margin-bottom: 13px;
    }

    @include vp-767 {
      @include text-regular-mobile;

      margin-bottom: 14px;
    }
  }
}

.about__features-list {
  grid-column: 1 / -1;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
}

.about__button {
  align-self: flex-start;
}
