.button {
  padding: 13px;
  background-color: $color-cerulian-blue;
  border: none;
  border-radius: 50%;

  &--hero {
    padding: 18px;
  }
}

.button svg {
  display: block;
  color: $color-default-white;
}
