.button {
  display: inline-flex;
  align-items: center;

  svg {
    display: block;
    color: $color-default-white;
  }

  &--menu {
    padding: 3px 3px 3px 19px;
    gap: 20px;
    background-color: $color-default-white;
    border: 1px solid $color-cerulian-blue;
    border-radius: 30px;

    &:hover {
      cursor: pointer;
    }
  }

  &--menu span {
    @include text-button-desktop;

    color: $color-cerulian-blue;
    text-transform: uppercase;
  }

  &--menu.is-active {
    width: 290px;
    background-color: $color-cerulian-blue;
    justify-content: space-between;
    border-color: $color-transparent;
  }

  &--menu.is-active span {
    color: $color-default-white;
  }

  &--menu.is-active .button__icon {
    background-color: $color-default-white;
  }

  &--menu.is-active svg {
    color: $color-cerulian-blue;
  }

  &--primary {
    gap: 30px;
    padding: 4px 4px 4px 30px;
    color: $color-cerulian-blue;
    text-transform: uppercase;
    background-color: $color-transparent;
    border: 1px solid $color-cerulian-blue;
    border-radius: 30px;

    @include vp-767 {
      padding: 3px 3px 3px 19px;
    }

    &:hover,
    &:focus-visible {
      background-color: $color-cerulian-blue;
      cursor: pointer;
    }

    &:hover .button__text,
    &:focus-visible .button__text {
      color: $color-default-white;
    }

    &:hover .button__icon,
    &:focus-visible .button__icon {
      background-color: $color-default-white;
    }

    &:hover svg,
    &:focus-visible svg {
      rotate: 45deg;
      color: $color-cerulian-blue;
    }

    &:active .button__text,
    &:active svg {
      opacity: 0.7;
    }

    &:disabled {
      border-color: $color-mischka;
      pointer-events: none;
    }

    &:disabled .button__icon {
      background-color: $color-mischka;
    }

    &:disabled .button__text {
      color: $color-mischka;
    }

    &:disabled svg {
      opacity: 0.6;
    }
  }

  &--primary-dark {
    padding: 4px 4px 4px 30px;
    gap: 30px;
    color: $color-default-white;
    background-color: $color-cerulian-blue;
    border: 1px solid $color-default-white;
    border-radius: 30px;

    @include vp-767 {
      padding: 3px 3px 3px 19px;
    }

    &:hover,
    &:focus-visible {
      background-color: $color-default-white;
      cursor: pointer;
    }

    &:hover .button__text,
    &:focus-visible .button__text {
      color: $color-cerulian-blue;
    }

    &:hover .button__icon,
    &:focus-visible .button__icon {
      background-color: $color-cerulian-blue;
    }

    &:hover svg,
    &:focus-visible svg {
      rotate: 45deg;
      color: $color-default-white;
    }

    &:active .button__text,
    &:active svg {
      opacity: 0.7;
    }

    &:disabled {
      border-color: $color-mischka;
      pointer-events: none;
    }

    &:disabled .button__icon {
      background-color: $color-mischka;
    }

    &:disabled .button__text {
      color: $color-mischka;
    }

    &:disabled svg {
      opacity: 0.6;
    }
  }

  &--primary-dark .button__text {
    color: $color-default-white;
  }

  &--secondary {
    padding: 10px;
    gap: 0;
    background-color: $color-cerulian-blue;
    border: none;
    border-radius: 50%;

    &:hover,
    &:focus-visible {
      background-color: $color-default-white;
    }

    &:hover svg,
    &:focus-visible svg {
      rotate: 45deg;
      color: $color-cerulian-blue;
    }

    &:active svg {
      opacity: 0.7;
    }

    &:disabled .button__icon {
      background-color: $color-mischka;
    }
  }

  &--programs {
    @include vp-767 {
      padding: 4px 4px 4px 30px;
    }
  }

  &--tabs {
    @include text-button-desktop;

    padding: 14px 26px;
    color: $color-cerulian-blue-60;
    background-color: $color-transparent;
    border: 1px solid $color-transparent;

    @include vp-1439 {
      padding: 11px 19px;
    }

    @include vp-767 {
      @include text-button-mobile;

      padding: 8px 13px 7px;
    }

    &:hover,
    &:focus-visible {
      color: $color-cerulian-blue;
      cursor: pointer;
    }
  }

  &--tabs.is-active {
    border: 1px solid $color-cerulian-blue;
    border-radius: 20px;
    color: $color-cerulian-blue;
  }

  &--accordion {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: $color-cerulian-blue;
    gap: initial;
    border: 1px solid $color-transparent;
    border-radius: 50%;

    &:hover,
    &:focus-visible {
      cursor: pointer;
    }

    &:disabled {
      background-color: $color-mischka;
      pointer-events: none;
    }

    &:disabled svg {
      opacity: 0.6;
    }
  }

  &--accordion.is-active {
    flex-shrink: 0;
    background-color: $color-default-white;
  }

  &--accordion.is-active::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 20px;
    height: 1px;
    transform: translateX(-50%);
    background-color: $color-cerulian-blue;
  }

  &--accordion.is-active svg {
    display: none;
  }

  &--accordion.is-active:hover,
  &--accordion.is-active:focus-visible {
    cursor: pointer;
  }

  &--submit {
    width: 100%;
  }

  &--submit .button__text {
    @include text-button-desktop;

    width: 100%;
    display: block;
    text-transform: uppercase;

    @include vp-767 {
      @include text-button-mobile;
    }
  }
}

.button__text {
  @include text-button-desktop;

  display: block;
  color: $color-cerulian-blue;

  @include vp-767 {
    @include text-button-mobile;

    width: 100%;
  }
}

.button__icon {
  display: block;
  padding: 13px;
  background-color: $color-cerulian-blue;
  border: none;
  border-radius: 50%;

  &--arrow {
    padding: 17px;

    @include vp-767 {
      padding: 12px;
    }
  }

  &--dark {
    background-color: $color-default-white;
  }

  &--dark svg {
    color: $color-cerulian-blue;
  }
}
