.custom-toggle {
  position: relative;

  display: flex;
  width: 100%;

  input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }

  label {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
  }
}

.custom-toggle__label {
  @include text-xxsmall-desktop;

  display: block;
  margin: 0;
  color: $color-default-white;
  opacity: 0.9;

  @include vp-1439 {
    @include text-xxsmall-tablet;
  }

  @include vp-767 {
    @include text-xsmall-mobile;
  }
}

.custom-toggle label:hover,
.custom-toggle input:focus {
  .custom-toggle__icon {
    border-color: $color-default-white;
  }
}

.custom-toggle--checkbox,
.custom-toggle--checkbox-modal {
  .custom-toggle__icon {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background-color: $color-transparent;
    border-radius: 2px;

    border: 1px solid $color-white-70;
  }

  .custom-toggle__icon--modal {
    border-color: $color-cerulian-blue-60;
  }

  .custom-toggle__icon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    mask-image: url("../img/sprite/check-icon.svg");
    mask-size: cover;
    background-color: $color-transparent;
  }
}

.custom-toggle--checkbox.is-valid {
  .custom-toggle__icon {
    background-color: $color-default-white;
  }

  .custom-toggle__icon::before {
    background-color: $color-cerulian-blue;
  }
}

.custom-toggle--checkbox.is-valid label:hover {
  .custom-toggle__icon {
    background-color: $color-cerulian-blue;
  }

  .custom-toggle__icon::before {
    background-color: $color-default-white;
  }
}

.custom-toggle--checkbox-modal {
  .custom-toggle__label--modal {
    color: $color-default-black;
    opacity: 0.9;
  }
}

.custom-toggle--checkbox-modal label:hover {
  .custom-toggle__icon--modal {
    border-color: $color-cerulian-blue;
  }
}

.custom-toggle--checkbox-modal.is-valid {
  .custom-toggle__icon--modal {
    background-color: $color-cerulian-blue;
  }

  .custom-toggle__icon--modal::before {
    background-color: $color-default-white;
  }
}

.custom-toggle--checkbox-modal.is-valid label:hover {
  .custom-toggle__icon--modal {
    background-color: $color-default-white;
  }

  .custom-toggle__icon--modal::before {
    background-color: $color-cerulian-blue;
  }
}

.custom-toggle--checkbox:has(input:disabled),
.custom-toggle--checkbox-modal:has(input:disabled) {
  label {
    pointer-events: none;
  }

  .custom-toggle__icon,
  .custom-toggle__icon--modal {
    background-color: $color-white-60;
    border-color: $color-default-white;
  }
}

.custom-toggle--checkbox:has(input:disabled).is-valid,
.custom-toggle--checkbox-modal:has(input:disabled).is-valid {
  label {
    pointer-events: none;
  }

  .custom-toggle__icon,
  .custom-toggle__icon--modal {
    background-color: $color-mischka;
    border-color: $color-transparent;
  }

  .custom-toggle__icon::before,
  .custom-toggle__icon--modal::before {
    background-color: $color-white-70;
  }
}


.custom-toggle.is-invalid {
  .custom-toggle__icon {
    border-color: $color-wild-watermelon;
    background-color: $color-wild-watermelon-20;
  }
}
