.faq {
  margin-bottom: 120px;

  @include vp-1439 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 60px;
  }
}

.faq__title {
  @include h2-desktop;

  margin-bottom: 67px;
  padding-top: 3px;
  text-align: center;
  color: $color-cerulian-blue;

  @include vp-1439 {
    @include h2-tablet;

    margin-bottom: 40px;
    padding-top: 0;
  }

  @include vp-767 {
    @include h2-mobile;

    margin-bottom: 33px;
    padding-top: 2px;
  }
}

.faq__accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(100% - 212px);
  margin: 0 auto;

  @include vp-1439 {
    width: 100%;
  }
}

.faq__accordion-element {
  padding: 41px 39px 37px;
  border: 1px solid $color-cerulian-blue;
  border-radius: 16px;

  @include vp-1439 {
    padding: 36px 29px 22px;
  }

  @include vp-767 {
    padding: 21px 14px 17px;
    border-radius: 14px;
  }

  &--two-line {
    padding: 31px 39px 33px;

    @include vp-1439 {
      padding: 24px 29px;
    }

    @include vp-767 {
      padding: 19px 14px;
    }
  }

  &:hover,
  &:focus-visible {
    background-color: $color-default-white;
    cursor: pointer;

    .button--accordion {
      background-color: $color-transparent;
      border: 1px solid $color-cerulian-blue;
    }

    .button--accordion svg {
      color: $color-cerulian-blue;
    }
  }

  &:active {
    .button--accordion {
      background-color: $color-endeavour;
      border-color: $color-transparent;
    }

    .button--accordion svg {
      color: $color-default-white;
    }
  }
}

.faq__accordion-element.is-active {
  padding-bottom: 32px;
  background-color: $color-cerulian-blue;
  color: $color-default-white;

  @include vp-1439 {
    padding: 36px 30px 25px 29px;
  }

  @include vp-767 {
    padding: 21px 14px 14px;
  }

  .faq__accordion-title-wrapper {
    margin-bottom: 11px;

    @include vp-1439 {
      margin-bottom: 9px;
    }

    @include vp-767 {
      margin-bottom: 13px;
    }
  }

  h3 {
    color: $color-default-white;
  }

  br {
    display: none;

    @include vp-1439 {
      display: block;
    }

    @include vp-767 {
      display: none;
    }
  }

  &:hover,
  &:focus-visible {
    .button--accordion {
      background-color: $color-transparent;
      border: 1px solid $color-default-white;
    }

    .button--accordion::after {
      background-color: $color-default-white;
    }
  }

  &:active {
    .button--accordion {
      background-color: $color-default-white;
      border-color: $color-transparent;
    }

    .button--accordion::after {
      background-color: $color-cerulian-blue;
    }
  }
}

.faq__accordion-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  h3 {
    @include h4-desktop;

    margin-right: 10px;
    color: $color-cerulian-blue;

    @include vp-1439 {
      @include h4-tablet;
    }

    @include vp-767 {
      @include h4-mobile;
    }
  }

  br {
    @include vp-767 {
      display: none;
    }
  }

  @include vp-767 {
    align-items: center;
  }
}

.faq__accordion-content {
  width: 73%;

  p {
    margin: 0;

    @include vp-1439 {
      @include text-regular-tablet;
    }

    @include vp-767 {
      @include text-regular-mobile;
    }
  }

  @include vp-1439 {
    width: 100%;
  }
}
