.features-item {
  position: relative;
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 24px;
  padding: 25px 60px;
  border: 1px solid $color-default-white;
  border-radius: 16px;
  list-style: none;

  @include vp-1439 {
    grid-template-columns: auto;
    grid-template-rows: min-content;
    row-gap: 12px;
    padding: 30px;
  }

  h4 {
    @include h5-desktop;

    @include vp-1439 {
      @include h5-tablet;
      max-width: 197px
    }
  }

  p {
    @include text-small-desktop;
    margin: 0;
    color: $color-alabaster;

    @include vp-1439 {
      @include text-small-tablet;
    }

    br {
      @include vp-1439 {
        display: none;
      }
    }
  }
}

.features-item__icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 42px;
  height: 42px;
  padding: 10px;
  background-color: $color-cerulian-blue;

  svg {
    display: block;
    // margin: 0 auto;
  }
}
