.header {
  position: relative;
}

.header__overlay {
  display: none;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-black-pearl-40;
}

.header__wrapper {
  position: absolute;
  top: 0;
  left: 100px;
  width: calc(100% - 200px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.header__logo {
  position: relative;
  z-index: 1;
  padding: 10px;
  background-color: $color-default-white;
  border-radius: 50%;
}

.header__logo svg {
  display: block;
  color: $color-cerulian-blue;
}

.header__button {
  position: relative;
  z-index: 2;
}

.header__button span {
  @include text-button-desktop;
  color: $color-cerulian-blue;
}

.header__nav {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 60px;
}
