.menu-item {
  font-size: $fz-default-desktop;
  line-height: $fz-default-desktop;
  letter-spacing: 0.32px;
  color: $color-white-70;
  text-transform: uppercase;
  list-style: none;
}

.menu-item__link {
  font-size: $fz-default-desktop;
  line-height: $fz-default-desktop;
  letter-spacing: 0.32px;
  color: $color-white-70;
  text-transform: uppercase;
}

.menu-item__sub-menu {
  margin-top: 20px;
}
