.menu-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin: 0;
  padding: 0;
}

// .menu-list__item {
//   &:nth-child(4n) {
//     @include vp-767 {
//       justify-self: end;
//     }
//   }

//   &:nth-child(6n) {
//     @include vp-767 {
//       justify-self: start;
//     }
//   }
// }
