.requirements-list {
  margin: 0;
  padding: 0;
}

.requirements-list__item {
  @include vp-1439 {
    margin-left: 20px;
  }

  @include vp-767 {
    margin-left: 15px;
  }

  &:not(:last-child) {
    @include vp-767 {
     margin-bottom: 15px;
    }
  }
}
