.reviews {
  margin-bottom: 120px;

  @include vp-767 {
    margin-bottom: 60px;
  }
}

.reviews__title {
  @include h2-desktop;
  margin-bottom: 40px;
  color: $color-cerulian-blue;

  @include vp-1439 {
    @include h2-tablet;
  }

  @include vp-767 {
    @include h2-mobile;
    margin-bottom: 30px;
  }
}
.reviews__slider {
  margin-bottom: 40px;
}

.reviews__slider-wrapper.swiper-wrapper {
  align-items: stretch;
}

.reviews__slide {

}

.reviews__scrollbar-wrapper {
  display: flex;
  gap: 52px;
  align-items: center;

  @include vp-767 {
    position: absolute;
    display: inline-flex;
    top: 0;
    right: 15px;
  }
}

.reviews__scrollbar.swiper-scrollbar {
  position: relative;
  height: 2px;
  bottom: initial;
  left: initial;
  background-color: $color-cerulian-blue-20;

  @include vp-767 {
    display: none;
  }
}

.reviews__scrollbar .swiper-scrollbar-drag {
  background-color: $color-cerulian-blue;
}

.reviews__button-wrapper {
  position: relative;
  // height: 22px;
  display: flex;
  gap: 10px;
}

.reviews__button-prev.swiper-button-prev,
.reviews__button-next.swiper-button-next {
  position: relative;
  left: initial;
  right: initial;
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 6px;
  background-color: $color-transparent;
  border: none;

  &::after {
    display: none;
  }

  svg {
    display: block;
  }
}
