.reviews-slide {
  padding: 49px 51px 42px 49px;
  border: 1px solid $color-cerulian-blue;
  border-radius: 16px;

  @include vp-1439 {
    padding: 49px 51px 46px 49px;
  }

  @include vp-767 {
    padding: 30px 14px 24px 14px;
  }
}

.reviews-slide.swiper-slide {
  width: 604px;
  height: auto;

  @include vp-1439 {
    width: 560px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.reviews-slide__info-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;

  @include vp-1439 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 25px;
    row-gap: 13px;
    justify-items: start;
  }
}

.reviews-slide__autor-content {
  display: flex;
  align-items: center;
  gap: 15px;

  img {
    width: 90px;
    height: 90px;
    border-radius: 50%;

    @include vp-767 {
      width: 60px;
      height: 60px;
    }
  }

  p {
    @include text-medium-desktop;
    margin: 0;
    color: $color-cerulian-blue;

    @include vp-1439 {
      font-size: $fz-h5-tablet;
      line-height: $lh-medium-tablet;
    }

    @include vp-767 {
      @include text-xsmall-desktop;
    }
  }

  @include vp-767 {
    grid-column: 1/-1;
    gap: 10px;
  }
}

.reviews-slide__details-wrapper {
  display: flex;
  gap: 25px;
  align-items: center;
}

.reviews-slide__program-content,
.reviews-slide__date-content {
  span {
    display: block;
    font-size: $fz-xsmall-desktop;
    line-height: $lh-xxsmall-desktop;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    color: $color-cerulian-blue;

    @include vp-767 {

      margin-bottom: 7px;
    }
  }

  p {
    @include text-xsmall-desktop;
    margin: 0;

    @include vp-1439 {
      @include text-xsmall-tablet;
    }

    @include vp-767 {
      @include text-xsmall-mobile;
    }
  }
}

.reviews-slide__content {
  h3 {
    margin-bottom: 14px;
    font-size: $fz-h6-desktop;
    line-height: $lh-default-desktop;
    font-weight: $fw-regular;
    color: $color-cerulian-blue;

    @include vp-1439 {
      margin-bottom: 16px;
      font-size: $fz-h5-tablet;
      line-height: $lh-medium-tablet;
    }

    @include vp-767 {
      margin-bottom: 15px;
      font-size: $fz-h4-mobile;
      line-height: $lh-h4-mobile;
    }
  }

  p {
    @include text-regular-desktop;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include vp-1439 {
      @include text-regular-tablet;
    }

    @include vp-767 {
      @include text-regular-mobile;
    }
  }
}
